<% include headerAdmin.ejs %>>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Sửa Tour</h4>
                    </div>
                    <form action="/admin/tour/edit/save" method="post" enctype="multipart/form-data" style="color: #a3c2d1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên Tour</label>
                                    <input type="text" name="tourName" class="form-control">
                                    <div>*<%= list.tourName %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mã Tour</label>
                                    <input type="text" name="tourFId" class="form-control">
                                    <div>*<%= list.tourFId %></div>
                                </div>
                            </div>
                        </div>
                        <div>Ảnh <input type="file" name="tourImage" multiple="multiple"></div>
                        <div style="width: 150px; height: 150px; background-image: url('<%= list.tourImage %>'); background-size: cover"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày khỏi hành</label>
                                    <input type="text" name="tourDayGo">
                                    <div>*<%= list.tourDayGo %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tổng số ngày</label>
                                    <input type="number" name="tourTotalDay" class="form-control">
                                    <div>*<%= list.tourTotalDay %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Giá</label>
                                    <input type="text" name="tourPrice" class="form-control">
                                    <div>*<%= list.tourPrice %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chỗ ngồi</label>
                                    <input type="number" name="tourNumberOfSeats" class="form-control">
                                    <div>*<%= list.tourNumberOfSeats %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Mô tả ngắn</label>
                                    <textarea name="tourShortDescription" name="tourShortDescription" id="" class="form-control" cols="100%" rows="5"></textarea>
                                    <div>*<%= list.tourShortDescription %></div>
                                </div>
                            </div>
                        </div>
                        <div>Loại tour
                            <input name="tourType" type="radio" value="Trong Nước" />Trong nước
                            <input name="tourType" type="radio" value="Nước Ngoài" />Nước ngoài
                            <div>* <%= list.tourType %></div>
                        </div>
                        <div>Trong nước
                            <input name="tourCategory" type="radio" value="Đà Nẵng"/>Đà Nẵng
                            <input name="tourCategory" type="radio" value="Khánh Hòa"/>Khánh Hòa
                            <input name="tourCategory" type="radio" value="Phú Quốc"/>Phú Quốc
                            <input name="tourCategory" type="radio" value="Huế"/>Huế
                        </div>
                        <div>Nước ngoài
                            <input name="tourCategory" type="radio" value="Singapore"/>Singapore
                            <input name="tourCategory" type="radio" value="Nhật Bản"/>Nhật Bản
                            <input name="tourCategory" type="radio" value="Hàn Quốc"/>Hàn Quốc
                            <input name="tourCategory" type="radio" value="Trung Quốc"/>Trung Quốc
                        </div>
                        <div>* Category: <%= list.tourCategory %></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chương trình tour</label>
                                    <textarea name="tourDescription" name="tourShortDescription" id="" class="form-control" cols="100%" rows="10"></textarea>
                                    <div>* <%= list.tourDescription %></div>
                                </div>
                            </div>
                        </div>
                        <!--<p>Chi tiết tour</p>-->
                        <p>THÔNG TIN CHUYẾN BAY</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày đi</label>
                                    <input type="text" name="tourDateGo" class="form-control">
                                    <div>* <%= list.tourDateGo %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đến</label>
                                    <input type="text" name="tourDateGoCome" class="form-control">
                                    <div>* <%= list.tourDateGoCome %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chuyến bay</label>
                                    <input type="text" name="tourGoFlight" class="form-control">
                                    <div>* <%= list.tourGoFlight %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày về</label>
                                    <input type="text" name="tourDateReturn" class="form-control">
                                    <div>* <%= list.tourDateReturn %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đến</label>
                                    <input type="text" name="tourDateReturnCome" class="form-control">
                                    <div>* <%= list.tourDateReturnCome %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Chuyến bay</label>
                                    <input type="text" name="tourReturnFlight" class="form-control">
                                    <div>* <%= list.tourReturnFlight %></div>
                                </div>
                            </div>
                        </div>
                        <p>THÔNG TIN KHÁCH SẠN</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Khách sạn</label>
                                    <input type="text" name="tourHotel" class="form-control">
                                    <div>* <%= list.tourHotel %></div>
                                </div>
                            </div>
                        </div>
                        <p>THÔNG TIN HƯỚNG DẪN VIÊN</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Tên</label>
                                    <input type="text" name="tourGuideName" class="form-control">
                                    <div>* <%= list.tourGuideName %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Địa chỉ</label>
                                    <textarea name="tourGuideAddress" class="form-control" id="" cols="30" rows="5"></textarea>
                                    <div>* <%= list.tourGuideAddress %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Số điện thoại</label>
                                    <input type="text" name="tourGuideTel" class="form-control">
                                    <div>* <%= list.tourGuideTel %></div>
                                </div>
                            </div>
                        </div>
                        <p>THÔNG TIN TẬP TRUNG</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày giờ tập trung</label>
                                    <input type="text" name="tourFocusDay" class="form-control">
                                    <div>* <%= list.tourFocusDay %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Nơi tập trung</label>
                                    <input type="text" name="tourConcentratedPlace" class="form-control">
                                    <div>* <%= list.tourConcentratedPlace %></div>
                                </div>
                            </div>
                        </div>
                        <p>THÔNG TIN KHÁC</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ghi chú</label>
                                    <textarea name="tourNote" class="form-control" id="" cols="30" rows="10"></textarea>
                                    <div>* <%= list.tourNote %></div>
                                </div>
                            </div>
                        </div>
                        <div>Trạng thái tour:
                            <input name="action" type="radio" value="1"/>Đang hoạt động
                            <input name="action" type="radio" value="0"/>Xóa
                        </div>
                        <div><% if(list.action == 1) { %> <p>* Đang hoạt động</p> <% } else if (list.action == 0){ %> <p>* Đã xóa</p> <% } %></div>
                        <div>* Thời gian tạo: <%= list.createdAt %></div>
                        <div>* Thời gian sửa: <%= list.updateAt %></div>
                        <div>* Thời gian xóa: <%= list.deleteAt %></div>
                        <div style="display: none"> id <input type="text" name="tourId" value="<%= list._id%>"></div>
                        <div>
                            <input type="submit" class="btn btn-info pull-right" value="Lưu">
                            <input type="reset" class="btn btn-info pull-right" value="Nhập lại">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footerAdmin.ejs %>