<% include headerAdmin.ejs %>>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Danh sách Tour đã xóa</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>-</th>
                            <th>Tên tour</th>
                            <th>Mã</th>
                            <th>Ngày khỏi hành</th>
                            <th>Tổng số ngày</th>
                            <th>Giá</th>
                            <th>Số chỗ</th>
                            <th>Số chỗ hiện còn</th>
                            <th>&nbsp</th>
                            </thead>
                            <% for (var i = list.length - 1; 0 <= i ; i--){ %>
                                <tbody>
                                <tr>
                                    <td style="width: 100px; height: 100px; background-image: url('<%= list[i].tourImage %>'); background-size: cover">
                                        &nbsp
                                    </td>
                                    <td><%= list[i].tourName %></td>
                                    <td><%= list[i].tourFId %></td>
                                    <td><%= list[i].tourDayGo %></td>
                                    <td><%= list[i].tourTotalDay %></td>
                                    <td><%= list[i].tourPrice %></td>
                                    <td><%= list[i].tourNumberOfSeats %></td>
                                    <td><%= list[i].tourNumberOfSeatsAvailable %></td>

                                    <td>
                                        <form action="/admin/tour/delete/detail" method="post">
                                            <div style="display: none"> id <input type="text" name="tourId" value="<%= list[i]._id%>"></div>
                                            <div>
                                                <input type="submit" class="btn btn-info pull-center" value="Chi tiết">
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footerAdmin.ejs %>