<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pleasant Tour</title>
    <link rel="icon" href="http://darnlinks.info/wp-content/uploads/2018/12/free-logo-designers-free-logos-creator-make-online-elegant-logo-maker-templates.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Sniglet" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball|Rock+Salt" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');

        * {
            font-family: sans-serif;
        }

        #ftco-nav ul li a {
            color: white;
        }
        .nav6{
            border-bottom: 2px solid #69abdc;
        }
        .thongtin{
            padding-top: 100px;
            padding-bottom: 50px;
        }
        .chontour  li{
            margin-left: 60px;
        }
        .box {
            outline: #bbbbbb solid 20px;
            margin-top: 30px;
            padding: 20px;
            text-align: center;
        }

        .dropdown-menu{
            font-size: 16px;
        }
        .fist {
            background: #bbbbbb;
            padding: 20px;
            margin-top: 20px;
            color: white;
        }
        .logoname{
            font-family: 'Playball', cursive;        }

        .icons {
            margin-top: 10px;
            color: black;
            display: block;
        }

        /*.icons .icon1 {*/
        /*margin-top: 20px;*/
        /*}*/

        /*.icons .icon2 {*/
        /*margin-top: -83px;*/
        /*margin-left: 200px;*/
        /*}*/

        /*.icons .icon3 {*/
        /*margin-top: -83px;*/
        /*margin-left: 400px;*/
        /*}*/

        /*.icons .icon4 {*/
        /*margin-top: -83px;*/
        /*margin-left: 540px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons .icon5 {*/
        /*margin-top: -83px;*/
        /*margin-left: 750px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons .icon6 {*/
        /*margin-top: -83px;*/
        /*margin-left: 960px;*/
        /*text-align: center;*/
        /*}*/

        /*.icons icon7 {*/
        /*margin-top: -83px;*/
        /*margin-left: 970px;*/
        /*text-align: center;*/
        /*}*/


        .h4-text {
            color: #ff662c;
            text-align: center;

        }

        .name-nhatrang {
            font-weight: bold;
            color: black;
        }

        .tour:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.97);
        }
        .nav6{
            border-bottom: 2px solid #69abdc;
        }
        .navbar3{
            background: #17a2b8;
        }
    </style>

</head>
<body>
<nav class="  navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"
           style=" color: #fba000;font-size: 30px;"> <img width="70px" height="70px"
                                                          src="http://darnlinks.info/wp-content/uploads/2018/12/free-logo-designers-free-logos-creator-make-online-elegant-logo-maker-templates.png"
                                                          alt=""> <span class="logoname"> Pleasant Tour</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active nav1 "><a href="/" class="nav-link" >Trang chủ </a></li>
                <li class="nav-item nav6"><a  onclick="post('/tour/list/all')"  class="nav-link" style="cursor: pointer">Tours</a></li>
                <li class="nav-item "><a href="/service" class="nav-link">Dịch vụ</a></li>
                <li class="nav-item"><a href="/rate" class="nav-link">Đánh giá</a></li>
                <li class="nav-item "><a href="/contact" class="nav-link">Liên hệ </a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="home-slider owl-carousel">
    <div  class="slider-item"
          style="background-image: url(http://thuthuatphanmem.vn/uploads/2018/05/23/wallpaper-4k-hinh-nen-4k-nuoc-bien-trong-xanh_100015508.jpg); background-size: cover;height: 400px">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h5 style="color: white"><a style="font-weight: bold; color: white;margin-right: 7px" href="/">TRANG CHỦ </a> TOUR   </h5>
                    <% for (var i = list.length - 1; i >= list.length - 1; i--){ %>
                    <h1 class="mb-3" > <%= list[i].tourCategory%>  </h1>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tour-p m-3">
    <div class="row p-2">
        <nav class="navbar3 navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;color: black">
            <a class="navbar-brand" href="#">CHỌN TOUR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse chontour" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tour Trong Nước
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a onclick="post('/tour/list', {tourCategory: 'Huế'})" class="dropdown-item" >Huế </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Đà Nẵng'})" class="dropdown-item">Đà Nẵng </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Phú Quốc'})" class="dropdown-item" >Phú Quốc </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Khánh Hòa'})" class="dropdown-item" >Khánh Hoà  </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tour Nước Ngoài
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a onclick="post('/tour/list', {tourCategory: 'Nhật Bản'})" class="dropdown-item" href="#">Nhật Bản </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Hàn Quốc'})" class="dropdown-item" href="#">Hàn Quốc </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Trung Quốc'})" class="dropdown-item" href="#">Trung Quốc </a>
                            <a onclick="post('/tour/list', {tourCategory: 'Singapore '})" class="dropdown-item" href="#">Singapore  </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Loại Tour
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Cao Cấp </a>
                            <a class="dropdown-item" href="#">Tiêu Chuẩn </a>
                            <a class="dropdown-item" href="#">Tiết Kiêm </a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>
<p class="fist">Du lịch >> Danh sách tour du lịch
    <% for (var i = list.length - 1; i >= list.length - 1;i--){ %>
        <%= list[i].tourCategory %>
    <% } %>
</p>


<div class="container-fluid pl-5 pr-5" style="min-height: 100vh">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-tour mt-4 bg-white p-3">
                <div class="tour-first m-3">
                    <div class="row p-2">
                        <div class="col-lg-4" style="background: rgba(187,187,187,0.52); border-radius: 3px; padding: 20px">
                            <h4>Bộ lọc tìm kiếm</h4>
                            <p style="font-weight: bold"> NƠI KHỞI HÀNH</p>
                            <select class="form-control input-md" id="depart" style="margin-top: -15px">
                                <option value="0" selected="">Nơi khởi hành</option>
                                <option value="1"> Hồ Chí Minh</option>
                                <option value="3">Hà Nội</option>
                                <option value="4">Đà Nẵng</option>
                                <option value="5">Cần Thơ</option>
                                <option value="6">Hải Phòng</option>
                                <option value="7">Bình Dương</option>
                                <option value="8">Nha Trang</option>
                                <option value="10">Huế</option>
                                <option value="11">Quy Nhơn</option>
                                <option value="12">Đồng Nai</option>
                                <option value="13">Phú Quốc</option>
                                <option value="14">Long Xuyên</option>
                                <option value="15">Quảng Ngãi</option>
                                <option value="16">Vũng Tàu</option>
                                <option value="17">Quảng Ninh</option>
                                <option value="18">Buôn Ma Thuột</option>
                                <option value="19">Vinh</option>
                                <option value="20">Cà Mau</option>
                                <option value="22">Rạch Giá</option>
                                <option value="24">Đà Lạt</option>
                                <option value="29">Thanh Hóa</option>
                                <option value="30">Quảng Bình</option>
                                <option value="31">Hồ Chí Minh - VSCC</option>
                                <option value="32">Bạc Liêu</option>
                                <option value="33">Bảo Lộc</option>
                                <option value="34">Đồng Tháp</option>
                            </select>

                            <div class="thoigiankhoihanh" style="margin: 15px 0 10px 0; border-bottom: 1px solid #ccc; padding-bottom: 30px" >
                                <p style="font-weight: bold; text-transform: uppercase; margin-bottom: 10px;">Ngày khởi hành</p>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 mg-bot10">
                                        <input class="form-control" id="depar" type="date" placeholder="&nbsp &nbsp Ngày khởi hành" style="margin-top: -11px;border-radius: 3px; color: black">

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="name-tour">
                                <h4 class="h4-text">Danh sách tour du lịch Đà Nẵng - Cây Cầu Vàng</h4>
                                <p style="font-weight: bold; margin-left: 20px;"><p><p><p><p>Đ&agrave; Nẵng nằm giữa ba di sản thế giới: cố đ&ocirc; Huế, phố cổ Hội An v&agrave; th&aacute;nh địa Mỹ Sơn. Đ&agrave; Nẵng c&ograve;n c&oacute; nhiều danh thắng tuyệt đẹp say l&ograve;ng du kh&aacute;ch như Ngũ H&agrave;nh Sơn, B&agrave; N&agrave;, b&aacute;n đảo Sơn Tr&agrave;, đ&egrave;o Hải V&acirc;n, s&ocirc;ng H&agrave;n thơ mộng v&agrave; cầu quay S&ocirc;ng H&agrave;n &ndash; niềm tự h&agrave;o của th&agrave;nh phố, v&agrave; biển Mỹ Kh&ecirc; đẹp nhất h&agrave;nh tinh.<br />Tại Đ&agrave; Nẵng Bạn c&oacute; thể thăm quan c&aacute;c điểm đến sau B&agrave; N&agrave;, Đ&agrave; Nẵng, C&ugrave; Lao Ch&agrave;m, Sơn Tr&agrave; ,<br /><br /><br /><br /></p></p></p><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr  width="100%" style="color: black;margin-top: -150px"/>

<div class="container pl-5 pr-5" style="height: 900px ;overflow: scroll; outline: rgba(187,187,187,0.41) solid 50px; margin-top: 80px; overflow: scroll">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-tour mt-4 bg-white p-3">
                <!-- block list tour -->
                <% for (var i = list.length - 1; i >= 0; i--){ %>
                    <div class="tour m-3">
                        <div class="row p-2" >
                            <div class="col-lg-3">
                                <div class="img-tour" style="width: 100%; height: 150px; background-image: url('<%= list[i].tourImage %>'); background-size: cover">
                                    &nbsp
                                </div>
                                <!--<img class="img-tour" src="https://travel.com.vn/Images/destination/tf_181015050450_922214.jpg"-->
                                <!--alt="tour" style=" height: 150px;">-->
                            </div>
                            <div class="col-lg-9">
                                <div class="name-nhatrang"><%= list[i].tourName %></div>
                                <div class="row mt-3">
                                    <div class="col-lg-5">
                                        <i class="fa fa-barcode" aria-hidden="true"></i><%= list[i].tourFId %>
                                    </div>
                                    <div class="col-lg-5">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: <%= list[i].tourDayGo %>
                                    </div>
                                    <div class="col-lg-2 text-danger"><%= list[i].tourPrice %> đ</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-5">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: <%= list[i].tourTotalDay %>
                                    </div>
                                    <div class="col-lg-5">
                                        <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: <%= list[i].tourNumberOfSeatsAvailable %>
                                    </div>
                                    <div class="col-lg-2">
                                        <form action="/tour/detail" method="post">
                                            <div style="display: none"> id <input type="text" name="tourId" value="<%= list[i]._id%>"></div>
                                            <div><input type="submit" class="btn btn-danger btn-sm" style="width: 100%" value="Chi tiết"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- include footer -->
<% include footerClient.ejs%>

<!-- Script -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--<script src="../js/jquery.validate.min.js"></script>-->
<!--<script src="../js/additional-methods.min.js"></script>-->

<script src="/js/jquery.animateNumber.min.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/aos.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="/js/main.js"></script>
<!--<script src="../js/validate.js"></script>-->
<!--<script src="jquery-3.3.1.min.js"></script>-->
<!--<script src="bootstrap.min.js"></script>-->
<script>
    function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>

</html>