<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">

    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat&subset=vietnamese');

        * {
            font-family: sans-serif;
        }

        #ftco-nav ul li a {
            color: white;
        }

        .nav6{
            border-bottom: 2px solid #69abdc;
        }
        .thongtin{
            padding-top: 100px;
            padding-bottom: 50px;
        }

        .box {
            outline: #bbbbbb solid 20px;
            margin-top: 30px;
            padding: 20px;
            text-align: center;
        }


        .icons {
            margin-top: 10px;
            color: black;
            display: block;
        }


        .h4-text {
            color: #ff662c;
            text-align: center;

        }

        .name-nhatrang {
            font-weight: bold;
            color: black;
        }

        .tour:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.97);
        }
        html, body {
            position: relative;
            height: 100%;
        }
        body {
            background: white;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color:#000;
            margin: 0;
            padding: 50px;
        }
        .swiper-container {
            width: 100%;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }
        .gallery-top {
            height: 80%;
            width: 100%;
        }
        .gallery-thumbs {
            height: 200px;
            box-sizing: border-box;
            padding: 10px 0;;
        }
        .gallery-thumbs .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }
        .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }
    </style>

</head>
<body>
<hr  width="100%" style="color: black;margin-top: 50px"/>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="margin-top: -20px;">
    <div class="container col-lg-12" >
        <a class="navbar-brand" href="index.html"
           style="font-size: 25px;color: black;font-family:-apple-system">Pleasant Tour
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav" >
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item active "><a href="/" class="nav-link nav1"style="color: black">Trang chủ </a>
                </li>
                <li class="nav-item"><a href="" class="nav-link nav2"style="color: black">Tours</a></li>
                <li class="nav-item nav3 "><a href="/dichvu" class="nav-link "style="color: black">Dịch vụ </a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link nav4"style="color: black">Blog</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link nav5"style="color: black">About</a></li>
                <li class="nav-item"><a href="/lienhe" class="nav-link nav6"style="color: black">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- content detail tour -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="detail-tour">
                <div class="detail-first">
                    <div class="row">
                        <h5 style="color: #ff605a"><%= list.tourName %></h5>
                        <div class="swiper-container ">
                            <!-- Swiper -->
                            <div class="swiper-container gallery-top ">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url('<%= list.tourImage %>'); background-size: cover"></div>
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url('<%= list.tourImage %>'); background-size: cover"></div>
                                </div>
                            </div>
                        </div>
                        <hr  width="100%" style="color: black;margin-top: 30px"/>
                        <div class="tour-nt m-3">
                            <div class="row p-2">
                                <div class="col-lg-12">
                                    <h5 class="name-nhatrang"> Thông tin chi tiết tour </h5>
                                    <div class="row mt-3">
                                        <div class="col-lg-6">
                                            <i class="fa fa-barcode" aria-hidden="true"></i> <%= list.tourFId %>
                                        </div>
                                        <div class="col-lg-5">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i> Khởi hành: <%= list.tourDayGo %>
                                        </div>
                                        <div class="col-lg-1 text-danger"><%= list.tourPrice %></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-6">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> Số ngày: <%= list.tourTotalDay %>
                                        </div>
                                        <div class="col-lg-5">
                                            <i class="fa fa-user" aria-hidden="true"></i> Số chỗ còn nhận: <%= list.tourNumberOfSeatsAvailable %>
                                        </div>
                                        <div class="col-lg-1">
                                            <!-- Xử lý mua tour -->
                                            <a href="detail-tour-korea.html">
                                                <button type="button" class="btn btn-danger btn-sm">
                                                    Đặt ngay
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr  width="100%" style="color: black;margin-top: 20px"/>
<h5 style="color: red; font-weight: bold">Chương trình tour</h5>
<div class="row">
    <div class="col-lg-9">
        <div class="anwesome">
            <i class="fas fa-map-signs"></i>
            <%= list.tourName %>
        </div>
        <hr  width="90%" style="color: black;margin-top: 20px; border-style: dashed"/>
        <p><%= list.tourDescription %><br /><br />
        <hr  width="100%" style="color: black;margin-top: 20px; border-style: dashed"/>
        <h5 style="color: red; font-weight: bold">Chi tiết tour</h5>
        <i class="fa fa-plane" aria-hidden="true" style="font-size: 20px">&nbsp Thông tin chuyến bay</i>
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Ngày đi: <%= list.tourDateGo %></td>
                <td>Đến: <%= list.tourDateGoCome %></td>
                <td>Chuyến bay: <%= list.tourGoFlight %></td>
            </tr>
            <tr>
                <td>Ngày về: <%= list.tourDateReturn %></td>
                <td>Đến: <%= list.tourDateReturnCome %></td>
                <td>Chuyến bay: <%= list.tourReturnFlight %></td>
            </tr>
            </tbody>
        </table>

        <i class="fa fa-building" aria-hidden="true" style="font-size: 20px">&nbsp Thông tin khách sạn</i>
        <p><%= list.tourHotel %></p>
        <i class="fa fa-user" aria-hidden="true" style="font-size: 20px">&nbsp Thông tin hướng dẫn viên</i>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Họ tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Điện thoại</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= list.tourGuideName %></td>
                <td><%= list.tourGuideAddress %></td>
                <td><%= list.tourGuideTel %></td>
            </tr>
            </tbody>
        </table>
        <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px">&nbsp Thông tin tập trung</i>
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Ngày giờ tập trung</td>
                <td><%= list.tourFocusDay %></td>
            </tr>
            <tr>
                <td>Nơi tập trung</td>
                <td><%= list.tourConcentratedPlace %></td>
            </tr>
            </tbody>
        </table>
        <h6>Ghi chú</h6>
        <p><%= list.tourNote %><br /><br />
    </div>

    <!-- related tour -->
    <div class="col-lg-3" style="border-left: 1px dashed">
        <h5 style="color: red">Các tour liên quan</h5>
        <div class="img-detail-nt">
            <img src="https://travel.com.vn/Images/destination/tf_180404051952_514767.jpg" alt="" style="width: 300px;">
            <h5> Nha Trang - Đà Lạt...</h5>
        </div>
        <hr  width="100%" style="color: black;margin-top: 20px; border-style: dashed"/>
        <div class="img-detail-nt">
            <img src="https://travel.com.vn/Images/destination/tf_171113101925_826322.jpg" alt="" style="width: 300px;">
            <h5>Hà Nội - Hạ Long...</h5>
        </div>
        <hr  width="100%" style="color: black;margin-top: 20px; border-style: dashed"/>
        <div class="img-detail-nt">
            <img src="https://travel.com.vn/Images/destination/tf_181205090918_663525.jpg" alt="" style="width: 300px;">
            <h5>Nha Trang - Nghỉ dưỡng 5*...</h5>
        </div>
        <hr  width="100%" style="color: black;margin-top: 20px; border-style: dashed"/>
        <div class="img-detail-nt">
            <img src="https://travel.com.vn/Images/destination/tf_180110044009_909799.jpg" alt="" style="width: 300px;">
            <h5>Phú Quốc - Ngắm hoàng hôn...</h5>
        </div>
    </div>
</div>

<!-- include footer -->
<% include footerClient.ejs%>

<!-- script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-migrate-3.0.1.min.js"></script>
<script src="../js/jquery.easing.1.3.js"></script>
<script src="../js/jquery.waypoints.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<!--<script src="../js/jquery.validate.min.js"></script>-->
<!--<script src="../js/additional-methods.min.js"></script>-->


<script src="/js/jquery.animateNumber.min.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/aos.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="/js/main.js"></script>
<!--<script src="../js/validate.js"></script>-->
<!--<script src="jquery-3.3.1.min.js"></script>-->
<!--<script src="bootstrap.min.js"></script>-->

<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });
</script>
</body>

</html>